.paragraf,/* paragraf classına ve foo classına aynı özellikler tanımlandı */
.foo{
  font-size:32px;
  font-family:"Comic Sans MS";
  font-weight: 700;
  font-style: italic;
  text-align: center;
  text-decoration: underline;/* yazının altına alt çizgi eklendi */
  text-transform: uppercase;/* yazının tümü büyük harf oldu */
  color: red;
}
.foo{
  background-color: yellow;
  font-size: 20px;/* ilk tanımlamamızdaki 32px ezildi ve 20px boyut oldu */
}
.foo.bar{/* foo classına ek olarak bar classının arka plan rengi mavi seçildi */
  background-color: blue;
}
div.kutu{/* div elementinin kutu adlı classına özellik verildi */
  width: 120px;
  height: 100px;
  background-color: red;
  font-size: 24px;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-left: 100px;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  /* paddinge ait farklı kullanım şekillleri */
  /* padding:50px 40px 40px 50px top -right-bottom-left */
  /*padding:50px 40px; top-bottom,right-left */
  /*padding:50px 40px 30px; top -right-left+bottom */
}
span{
  font-size: 32px!important;/* ne olursa olsun 32px olacak diğerlerini ezer */
}
.abc{
  font-size: 20px;/* bu geçersiz sayıldı çünkü yukarıda ki important bunu ezer */
}
